/* RESET */
* {
    box-sizing: border-box;
  }
  
  h1,
  h2 {
    font-size: 100%;
    font-weight: normal;
  }

/* SETUP */

.picture {
  display: block;
  max-width: 500px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  /* color: inherit; */
  color: #e5e7eb;
}

p a  {
  display: inline-block;
  color: blue;
  text-decoration: underline;
}

/* html {
  --white: color goes here
  --white2:
  --white3:
  --lightgray:
  --black:
} */
/* To use this the format would be
background-color: var(--black);
color: var(--white);
*/

/* STRUCTURE */

  body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex-grow: 1;
  }
  
  .inner-container {
    display: block;
    padding: 10px;
    border: 6px solid orange;
    width: 98%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  /* or 10vh for padding top bottom */
  }

  header .inner-container {
    padding: 10px;
  }

  header {
    background-color: #1F2937;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .logo {
    font-size: 24px;
    color: #f9faf8;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
  }

  

/* COMPONENTS */

.button {
  display: inline-block;
  background-color: #3882f6;
  border: none;
  font-size: 18px;
  color: #f9faf8;
  border-radius: 10px;
  text-align: center;
  padding: 10px 40px;
  margin-top: 20px;
} 

/* MODULES */

.hero {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome {
  background-color:#1F2937;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  line-height: .9;
  color:#f9faf8;
}

.secondary-text {
  font-size: 18px;
  line-height: 1.3;
  color:#e5e7eb
}

.hero .hero-text {
  display: block;
}

.hero .picture {
  display: block;
}

.quote {
  background-color:#E5E7EB;
}

@media (min-width: 700px) {
  .hero {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .hero :is(.hero-text, .picture) {
    flex-basis: 50%;
  }
}

/* OTHER */

body * {
  padding: 2px;
}

  
  
  section {
    border: 3px solid lime;
  }
  
  header,
  footer,
  main {
    border: 4px solid red;
  }
  


  /* .logo {
    font-size: 24px;
    color: #f9faf8;
  } */
  
  
  
  
